#body {
  height: 150vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
#topnav {
  height: 20%;
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
#title_container {
  height: 50%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#title {
  font-family: 'JetBrains Mono', monospace;
  font-weight: 500;
  font-size: 40px;
  background: -webkit-linear-gradient(180deg, #097882 0%, #15aeac 100%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
#topnav_content {
  height: 50%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
}
#filters_container {
  height: 100%;
  width: 50%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
#filter_div {
  height: 100%;
  width: 28.3%;
  margin-right: 5%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
#filter_div select {
  height: 50%;
  width: 90%;
  background: linear-gradient(270deg, #15aeac 11.94%, #70c7c7 90.28%);
  border-radius: 10px;
  border: none;
  outline: none;
  color: white;
  font-size: 20px;
  padding-left: 5%;
  font-family: 'JetBrains Mono', monospace;
  font-weight: 500;
  cursor: pointer;
}
#filter_div option {
  color: #000000;
  font-size: 16px;
  font-family: 'JetBrains Mono', monospace;
  font-weight: 300;
}
#filter_div p {
  font-size: 20px;
  font-family: 'JetBrains Mono', monospace;
  font-weight: 300;
  color: rgb(41, 41, 41);
  margin: 0;
  margin-bottom: 5%;
}
#search_bar {
  height: 55%;
  width: 30%;
  border: 2px solid rgba(9, 120, 130, 0.8);
  border-radius: 25px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
}

#search_bar p {
  color: #0a7780;
  font-size: 14px;
}
#search_bar button {
  height: 100%;
  width: 20%;
  border: none;
  outline: none;
  background: url("../images/search_icon.png");
  background-size: 35%;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
}
#search_bar input {
  height: 100%;
  width: 80%;
  border: none;
  outline: none;
  margin: 0;
}
#search_bar input:hover #search_bar {
  border: 3px solid rgba(9, 120, 130, 0.8);
}
#content {
  height: 75%;
  width: 90%;
  margin-top: 2.5%;
  display: grid;
  grid-template-columns: 33.33% 33.33% 33.33%;
}
