#nft_categories_title {
  height: 15%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5%;
}
#nft_categories_title p {
  background: rgb(120,188,196);
background: linear-gradient(180deg, rgba(120,188,196,1) 0%, rgba(247,68,78,1) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  font-size: 40px;
}
#nft_categories_content {
  height: 65%;
  width: 100%;
  scrollbar-width: 5px;
  scrollbar-color: black;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
}
#nft_categories_content::-webkit-scrollbar {
  height: 12.5px;
}
/* Track */
#nft_categories_content::-webkit-scrollbar-track {
  background: rgb(224, 224, 224);
  border-radius: 10px;
}

/* Handle */
#nft_categories_content::-webkit-scrollbar-thumb {
  background: rgb(247,68,78);
  background: linear-gradient(90deg, rgba(247,68,78,1) 0%, rgba(120,188,196,1) 100%);
  border-radius: 10px;
}

.category_container {
  position: relative;
  height: 80%;
  width: 30%;
  display: inline-block;
  margin: 3%;
  cursor: pointer;
  transition: 0.5s;
  background: rgb(120,188,196);
  background: linear-gradient(180deg, rgba(120,188,196,1) 0%, rgba(247,68,78,1) 100%);
  border-radius: 25px;
}
.category_container div{
  height: 100%;
  width: 100%;
  display:flex;
  justify-content: center;
  align-items: center;
  background: none;
}
.category_container p {
  justify-self: center;
  align-self: center;
  font-size: 32px;
  color: white;
}
.category_container:hover {
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}
.image_bg {
  margin: auto 0;
  height: 100%;
  width: 100%;
}
