#nft_categories_title {
  height: 15%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5%;
}
#nft_categories_title p {
  background: linear-gradient(180deg, #0A7780 0%, #15AEAC 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  font-size: 40px;
  font-family: klavikabold;
}
#nft_categories_content {
  height: 65%;
  width: 100%;
  scrollbar-width: 5px;
  scrollbar-color: black;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
}
#nft_categories_content::-webkit-scrollbar {
  height: 12.5px;
}
/* Track */
#nft_categories_content::-webkit-scrollbar-track {
  background: rgb(224, 224, 224);
  border-radius: 10px;
}

/* Handle */
#nft_categories_content::-webkit-scrollbar-thumb {
  background: linear-gradient(90deg, #0a7780 25.2%, #15aeac 76.02%);
  border-radius: 10px;
}

.category_container {
  position: relative;
  height: 80%;
  width: 30%;
  display: inline-block;
  margin: 3%;
  cursor: pointer;
  transition: 0.5s;
}
.category_container:hover {
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}
.image_bg {
  margin: auto 0;
  height: 100%;
  width: 100%;
}
